.card {
  position: relative;
  width: 325px;
  display: flex;
  justify-content: center;
}

.card__header {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.card__title {
  font-family: "Cabinet Grotesk-Bold";
  font-size: 16px;
  line-height: 1.2;
  color: #00000099;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__image {
  width: 325px;
  height: 326px;
  border: 1px solid #0000004d;
  border-radius: 19px;
  object-fit: cover;
}

.card__image:hover {
  cursor: pointer;
}

.card__like-button {
  background-image: url(../../assets/like-button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: 0;
  width: 18px;
  height: 15px;
  padding: 0;
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url(../../assets/like-button-liked.svg);
}
