.item-modal {
  position: relative;
  background-color: #fff;
  max-width: 498px;
  box-sizing: border-box;
  width: 100%;
  border: #ffffff;
  border-radius: 16px;
  font-family: "Cabinet Grotesk-Bold";
  font-size: 20px;
  line-height: 1.2;
  overflow: hidden;
}

.item-modal__image {
  object-fit: cover;
  width: 498px;
  height: 498px;
}

.item-modal__footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 32px 32px;
}

.item-modal__caption {
  font-size: 20px;
  margin: 0 0 12px 0;
}

.item-modal__weather {
  margin: 0;
}

.item-modal__btn-close {
  position: absolute;
  background-image: url(../../assets/close-btn-image.svg);
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
}

.item-modal__btn-delete {
  background-color: transparent;
  border: none;
  width: 101px;
  height: 24px;
  margin: 0;
  padding: 0;
  color: #ff4d00;
  cursor: pointer;
}
