.modal__content_type_image {
  padding: 0;
  max-width: 498px;
  overflow: hidden;
}

.modal__image {
  object-fit: cover;
  max-width: 100%;
}

.modal__footer {
  padding: 20px 0 32px 32px;
}

.modal__caption {
  font-size: 20px;
  margin: 0 0 12px 0;
}

.modal__weather {
  font-size: 20px;
  margin: 0;
}

.modal-close-btn_type_image {
  position: absolute;
  background-image: url(../../assets/close-btn-image.svg);
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
}
