.clothes-section__heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 0 16px 0;
  font-family: "Cabinet Grotesk-Bold";
  font-size: 20px;
  line-height: 1.2;
}

.clothes-section__title {
  display: flex;
  margin: 0;
}

.clothes-section__add-btn {
  border: none;
  color: #00000099;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}
